body{
    background-color: rgba(18,18,18,255);
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

a{
    text-decoration:none;
}

.menu{
    height: 670px;
    width:100%;
}


.top-bar-flex{
    display:flex;
    height:100%;
    gap:70.4%;
    padding-left:10px;

}

    .toggles{
        width:auto;
        display:flex;
        gap:5px;
        margin-top:10px;
    }

    .toggle{
        width:auto;
        height:50px;
    }

.top-bar-right-flex{
    display:flex;
    gap:10px;
}

    .account{
        height:50px;
        width:auto;
        margin-top:10px;
    }

    .screen-UI{
        height:30px;
        width:auto;
    }

    .top-bar-flex-home{
        display:flex;
        height:100%;
        gap:26.4%;
        background-color:rgba(18,18,18,255);
        padding-left:10px;
    }

    .top-bar-flex-home-left{
        display:flex;
        gap:1%;
    }

        .libraries{
            height:65px;
            margin-top:2px;
        }

.song-playing{
    height:auto;
    width:100%;
    margin-top:-7px;
}

/* home */


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 {grid-area: main;
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        background-color:rgba(18,18,18,255)}
.item4 { grid-area: footer; 
      }

      body.modal-open {
        overflow: hidden;
    }



.grid-container {
    display: grid;
    height:745px;
    grid-template-columns: 188.63px auto;
    grid-template-rows: 61px 612px 49px;
    grid-template-areas:

        'menu header'
        'menu main'
        'footer footer';
}

.item3-home::-webkit-scrollbar {
    display: none;
}


.content-home{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding-top:5px;
    background-color:rgba(18,18,18,255);
    padding-left:5px;
    padding-bottom:50px;
}

.section{
    display: flex;
    flex-direction:column;
    margin-left:25px;
}
    .entries{
        display:flex;
        gap:20px;
    }

.show-all{
    width:75px;
}

.home-section-header{
    display:flex;
    font-size:18px;
    font-weight:bold;
    color:white;
    align-items: center;
    gap:75%;
}


.section-entry{
    display: flex;
    flex-direction: column;
    width:145px;
    background-color: rgba(24,24,24,255);
    padding:10px;
    border-radius:5px;
}


.selected {
    background-color:#7a7979;
}


.quick-invite{
    display:flex;
    flex-direction:column;
    background-color:rgba(24,24,24,255);
    width:145px;
    border-radius:5px;
    gap:10px;
    padding:10px;
}

 .hovered{
   background-color: rgba(39,39,39,255);
} 

.optional{
    color:gray;
    font-size:12px;
}

.section-info-title{
    color:white;
    font-size:12px;
    margin-bottom:-5px;
    margin-top:7px;
    font-weight:bold;
}

.section-info-description{
    color:gray;
    font-size:11px;
}

.section-img{
    width: 100%;
    outline: 1px solid  rgba(39,39,39,255);;
    outline-offset: -1px;
    border-radius:5px;
}



 /* New Party */

 .content-new-party{
    margin-bottom:50px;
 }


.create-party-header{
    display:flex;
    padding-top:35px;
    align-items:center;
    gap:20px;
}



.new-party-img{
    width:215px;
    height:215px;
    margin-bottom:20px;
    margin-left:5px;
}



.new-party-box{
    width: 100%;
    height: 250px;
    background-image:linear-gradient(rgba(77,77,77,255), rgba(36,36,36,255))
}

.party-small{
    font-size:12px;
}

.song{
    display:flex;
}

.party-title{
    font-size:65px;
    font-weight:bold;
    color:white;
}


.host{ 
    /* image name host */
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
}

.host-img{
    width:30px;
    height:30px;
}

.host-text{
    color:gainsboro;
}

.party-info{
    display:flex;
    flex-direction:column;
    gap: 10px;
    width:100%;
    text-align:left;
    color:white;
  
}

.create-party-button{
    background-color: white;
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding:10px;
    border-radius:50px;
    width:fit-content;
    border: none;
}


.theme-section{
    display: flex;
    gap:1.5%;
    margin-left:2%;
}



.theme-section-header{
    display:flex;
    font-size:20px;
    color:white;
    align-items: center;
    gap:73%;
}


.theme-section-header-left{
    display:flex;
    font-size:20px;
    margin-left:2%;
    align-items: center;
    gap:10px;
    font-weight:bold;
}

.quick-invite-header{
    display:flex;
    font-size:20px;
    color:white;
    margin-left:2%;
    align-items: center;
    gap:83%;
    font-weight:bold;
}


.theme-info-title{
    color:white;
    font-size:14px;
    margin-bottom:-5px;
    margin-top:7px;
    font-weight:bold;
    padding-bottom:10px;
}

.quick-invite{
    display:flex;
    height:200px;
    flex-direction:column;
    background-color:rgba(24,24,24,255);
    width:145px;
    border-radius:5px;
    gap:10px;
}


.members{
    display:flex;
    height:200px;
    flex-direction:column;
    background-color:rgba(24,24,24,255);
    width:145px;
    border-radius:5px;
    gap:10px;
}


    .quick-invite:hover{
        background-color: rgba(39,39,39,255);   
    }

    .quick-invite-img{
        width:80%;
        height:auto;
        padding-left:13px;
        padding-top: 10px;
    }
    

    
    .quick-invite-info{
        display:flex;
        gap:40px;
    }

        .quick-invite-name{
            font-weight:bold;
            color:white;
            padding-left:10px;
            font-size:14px;
        }

        .quick-invite-subtitle{
            color:gray;
            padding-left:10px;
            font-size:12px;
        }

        .quick-invite-plus{
            color:gray;
            background-color:transparent; 
            border:none;
            text-align: right;
            width:75px;
            font-size:25px;
            height:20px;
            margin-top:10px;
            
        }

        .quick-invite-remove{
            color:gray;
            font-size:10px;
            margin-top:13px;
            margin-bottom:7px;
        }

        /* New Theme */

        .theme-entry-box {
            position:fixed;
            display:none;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height:100%;
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
        }

        .theme-entry-content{
            margin:auto;
            display:flex;
            flex-direction:column;
            gap:10px;
            padding:25px;
            width:30%;
            margin-top:250px;
            height: fit-content;
            background-color:#282828;
            border-radius:10px;
        }

        .theme-entry-header{
            display:flex;
            gap:65%;
        }
        
        .theme-entry-footer{
            display:flex;
        }

        .new-theme-info{
            display:flex;
        }

        .new-theme-img{
            width:43%;
            height:auto;;
        }

        .entry-boxes {
            display:flex;
            flex-direction:column;
            margin-top:12px;
            gap: 20px;
            width:53%;
        }

            .entry-box{
                background-color: #3e3e3e;
                border-radius: 3px;
                border:none;
                padding:8px;
                width:100%
            }

            .description-entry-box{
                height:100px;
            }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }

        .close-modal{
            width:12px;
            height:12px;
        }

        .close-edit-modal{
            width:12px;
            height:12px;
        }

        .disclaimer {
            font-size:10px;
            font-weight:bold;
            color: white;
        }

        .create-theme-button{
            background-color: white;
            color:black;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            padding:15px;
            border-radius:50px;
            width:fit-content;
            border: none;
            margin-top: -13px;
            float:right;
        }
          
 /* party */
 .item1-party { grid-area: header; 
           }
 .item2-party { grid-area: menu; 
                }
 .item3-party {grid-area: main;
         overflow: auto;
         -ms-overflow-style: none;  /* IE and Edge */
         scrollbar-width: none;  /* Firefox */
         background-color:rgba(18,18,18,255)}
 .item4-party { grid-area: chat; 
         overflow: auto; 
         background-image:linear-gradient(rgba(77,10,31,255), rgba(37,37,37,255)); }
 .item5-party { grid-area: footer; 
                }
 


 .grid-container-party {
     display: grid;
     height: 745px;
     grid-template-columns: 188.63px auto 400px;
     grid-template-rows: 61px 612px  49px;
     grid-template-areas:
 
         'menu header header'
         'menu main chat'
         'footer footer footer';
 }

 .item4::-webkit-scrollbar {
     display: none;
 }

 .item3::-webkit-scrollbar {
    display: none;
}

 .item4-party::-webkit-scrollbar {
     display: none;
 }

 .item3-party::-webkit-scrollbar {
     display: none;
 }

 .change{
    background-color: aqua;
 }


.party-box{
 width: 100%;
 height: 250px;
 background-image:linear-gradient(rgba(221,161,12,255), rgba(159,17,60,255))
}

.party-header{
 display:flex;
 padding-top:50px;
 align-items:center;
 gap:20px;
}

.party-img{
 margin-left: 20px;
 width:180px;
 height:180px;
}

.party-members{
 display:flex;
 gap:20px;
}

.party-member{ 
 display:flex;
 flex-direction:row;
 align-items:center;
 gap:10px;
 font-size:16px;
}

.action{
    width:30px;
    height:30px;
    opacity:80%;
}

.actions{
    display:flex;
    gap:20px;
    margin-top:20px;
   
}

.content-party{
 margin-bottom:100px;
 color:gray;
}

.queue-header{
 display:flex;
 align-items: center;
 font-size:25px;
 color:white;
 gap:86%;
}

 .search{
     width:15px;
     height:15px;
 }

.music-header{
 display:flex;
 color:gray;
 align-items: center;
 font-size:14px;
}

 .number{
     text-align: center;
     margin-right:20px;
 }

 .title-header{
    margin-right:29%;
  }

  .album-header{
      margin-right:25%;
  }

  .who-added-header{
      width:275px;
  }

  .time{
      width:18px;
      height:18px;
     
  }

 .header-line{
    height: 0.1px;
    background: gray;
    width:100%;
    border:0;
 }

.music{
 display:flex;
 flex-direction:column;
 color:gray;
 font-size:14px;
 margin-left:25px;
 margin-right:50px;
 
}

.queue-section{
 display:flex;
 flex-direction: column;
 gap:5px;
 margin-bottom:10px;
 text-align:left;
}

.song{
 display:flex;
 align-items:center;
 text-align:left;
}

.song-img{
 width:40px;
 height:40px;
 margin-left:20px;
 margin-right:20px;
}

.song-info{
 display:flex;
 flex-direction: column;
 gap:1px;
 width:375px;
 color:white
}

 .artist{
     color:gray;
     width:100%;
 }


 .album{
     width:420px;

 }

 .who-added{
     height:20px;
 }

 .who-added-flex{
    display:flex;
    width:400px;

}

 .chat{
     display:flex;
     flex-direction:column;
     margin-top:90px;
     margin-left:20px;
     gap:20px;
     margin-bottom:100px;
 }

 .chat-top-box{
     position:fixed;
     width: 400px;  
 }

 .chat-title{
     display:flex;
     align-items:center;
     gap:300px;
     padding-left:20px;
     font-size:20px;
     background-color:black;
     color:white;
 }
     .chevron{
         width:20px;
         height:20px;
     }

 .message{
     display:flex;
     align-items:end;
     height:fit-content;
     color:black;
     gap:10px;
 }

 .text-box{
     width: fit-content;
     height:fit-content;
     background-color: white;
     border-radius: 50px;
     color:black;
     padding:15px;
     margin-right:20px;
 }

 .queued-chat{
    display:flex;
    align-items: center;
    height:fit-content;
    color:black;
    gap:20px;
 }



 .queued-chat-name {
    font-weight:bold;
    color:white;
 }

 .queued-chat-song{
    color:white;
    font-style:italic;
    font-weight:lighter;
 }

 .prompt{
    width: fit-content;
    height:fit-content;
    background-color:rgba(159,20,61,255);
    border-radius: 30px;
    color:white;
    padding:15px;
    padding-left:20px;
    margin-right:20px; 
 }
    .prompt-img{
        width:20px;
        height:20px;
        margin-bottom:5px;
    }
    
    .prompt.text{
        font-style:italic;
    }

    .prompt-header{
        display:flex;
        gap:10px;
        font-weight:bold;
    }



 .chat-profile{
     width: calc(10px + 10px);
     height: calc(10px + 10px);
     margin-bottom:5px;
 }

 .send-message{
     display:flex;
     flex-direction: row;
     margin-top:calc(100vh - 207.8px);
     align-items: center;
     position:fixed;
     gap:20px;
     padding-bottom:10px;
     padding-top:10px;
     background-image: linear-gradient(rgba(42,33,36,255), rgba(37,37,37,255));
 }


 .type-box{
     width: 250px;
     height:20px;
     margin-left:20px;
     background-color:rgba(61,61,61,255);
     border-radius: 50px;
     color:gray;
     padding:10px;
 }

 .chat-controls{
     width:70px;
 }
 
 /* No Chat */
  /* party */

  .content-party-no-chat{
    margin-bottom:100px;
   }


.party-members{
  display:flex;
  gap:20px;
  font-size:20px;

}

.queue-header{
  display:flex;
  align-items: center;
  font-size:25px;
  color:white;
  gap:86%;
}

  .search{
      width:15px;
      height:15px;
  }


  .number{
      text-align: center;
      margin-right:20px;
  }

  .title-header-no-chat{
    margin-right:28%;
  }

  .album-header-no-chat{
      margin-right:27%;
  }

  .who-added-header-no-chat{
      margin-right:27%;
      width:100px;
  }

  .time-no-chat{
      width:18px;
      height:18px;
     
  }


  .header-line-no-chat{
      background-color:gray;
      width:100%;
  }

.music-no-chat{
  display:flex;
  flex-direction:column;
  color:gray;
  font-size:16px;
  margin-left:25px;
  margin-right:50px;
  
}


.song-info-no-chat{
  display:flex;
  flex-direction: column;
  gap:1px;
  width:330px;
  color:white
}

  .artist{
      color:gray;
      width:100%
  }


  .album-no-chat{
    width:400px;
  
  }

  .who-added-no-chat{
      height:20px;

  }

  .who-added-flex-no-chat{
    display:flex;
    width:430px; 
 

}

  .chat-top-box-no-chat{
    position:fixed;
    width: 400px;  
    margin-left:74.5%;
    margin-top:39.55%;
}
    .chevron-no-chat{
        width:20px;
        height:20px;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    /* celebrity */

    .celebrity-party-box{
        width: 100%;
        height: 250px;
        background-image:linear-gradient(violet, blueviolet);
    }

    
 .celebrity-prompt{
    width: fit-content;
    height:fit-content;
    background-color:darkviolet;
    border-radius: 30px;
    color:white;
    padding:15px;
    padding-left:20px;
    margin-right:20px; 
 }

 /* public */

 
 .pitt-party-box{
    width: 100%;
    height: 250px;
    background-image:linear-gradient(rgba(254,193,14,255), black)
}

.pitt-prompt{
    width: fit-content;
    height:fit-content;
    background-color:goldenrod;
    border-radius: 30px;
    color:white;
    padding:15px;
    padding-left:20px;
    margin-right:20px; 
 }

 /* dropdown */

 .dropdown {
    display:flex;
    flex-direction:column;
    background-color: #3D3D3D;
    width:150px;
    height:fit-content;
    margin-left:125px;
    margin-top:50px;
    position:fixed;
    padding-bottom:10px;
 }

 .dropdown-option{
    margin-left:10px;
    margin-top:10px;
    color:white;
 }


 /* afterparty */

.afterparty-title{
    color:white;
    font-size:30px;
}

.afterparty-subtitle{
    color:white;
    font-size:20px;
}

.afterparty-content{
    display:flex;
    flex-direction: column;
    padding-top:10px;
    padding-left:25px;
    gap:30px;
}

.afterparty-header{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.playlist{
    display:flex;
    gap:20px;
    width:100%;
    
}

.party-cover{
    height:150px;
    width:150px;
}

.playlist-info{
    color:white;
}

.playlist-title{
    font-size:25px;
    font-style: bold;
    margin-top:5px;
}

.playlist-subtitle{
    color:gray;
}

.playlist-actions{
    display:flex;
    align-items:center;
    width:700px;
    margin-top:40px;
    gap:30px;
}

.copy-link{
    background-color: white;
    color:black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding:10px;
    border-radius:50px;
    width:fit-content;
    border: none;
}

.stats-box{
    width: 95%;
    height: 250px;
    background-color: rgba(40,40,40,255);
    border-radius:15px;
    padding-left:20px;
    padding-top:15px;
}

.stats-title{
    color:white;
    font-size:30px;
    margin-bottom:10px;
}

.stats-subtitle{
    font-size:20px;
    color:white;
}

.stats{
    display:flex;
    gap:100px;
    margin-top:-10px;
}

.stat-list{
    display:flex;
    flex-direction: column;
    gap:5px;
    width:25%;
}

.stat-entry{
    display:flex;
    gap:10px;
    align-items:center;
}
    .stat-entry-box{
    width: 100%;
    height: 27px;
    background-color: rgba(70,70,70,255);
    border-radius:50px;
    padding-bottom:5px;
    padding-top:2px;
    padding-left:2px;
    }
    
    .stat-name{
        color:white;
    }

    .genre-name{
        color:white;
        padding-left:10px;
        padding-top:6px;
    }


    .stat-img{
        width: 30px;
    }

    .stat-title{
        margin-bottom:5px;
        font-size:25px;
        color:white;
    }


   
